/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;  
    margin: 0;
    font-family: 'proxima-nova', sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Proxima Nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .02em;
    color: #3e3e3e;
    background-color: #fff;
  }
  
  header section {
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  header section a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'proxima-nova', sans-serif;
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 300;
    padding: 2px;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  header section a:hover {
    color: rgb(71, 65, 65);
  }
  
  nav {
    overflow: hidden;
  }
  
  nav a {
    float: left;
    color: #3e3a37;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'proxima-nova', sans-serif;
    outline: none;
  }

  nav a:focus {
    background-color: rgb(126, 129, 126);
    color: white;
  }

  nav:nth-child(3) ul li:nth-child(2) a {
    font-weight: bold;
  }
  
  li {
    display: inline;
  }
  
  nav a:hover {
    color: gray;
  }
  
  .logo {
    width: 170px;
    height: 40px;
    object-fit: cover;
    margin-left: 10%;
  }
  
  .nav-icons {
    display: inline-block;
    width: 135px;
    margin-left: 40px;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .search-bar {
    background-color: #EFEFEF;
    border: none;
    padding: 10px;
    float: left;
  }
  
  form {
    display: inline-block;
    margin-left: 100px;
  }
  
  form button {
    padding-top: 4px;
    border: none;
    cursor: pointer;
    float: left;
    background-color: #efefef;
    height: 35px;
    margin-left: -10px;
  }
  
  form button img {
    width: 12px;
      /* display: block; */
      /* margin-top: 3px; */
      /* background-color: transparent; */
      margin-right: 2px;
  }
  
  nav:nth-child(3) {
    margin-top: 20px;
  }

  main section:nth-child(1) {
    display: flex;
    /* flex-direction: column; */
  }

  section:nth-child(1) div {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-top: 95px;
    padding-left: 10px;
  }

  section:nth-child(1) div img {
    padding: 0px 10px 10px 10px;
  }

  section:nth-child(1) div img:hover {
    cursor: pointer;
  }

  section:nth-child(1) article {
    width: 25%;
    margin-top: 95px;
    font-size: 1.7rem;
    background-color: #FAF7F3;
    margin-left: 35px;
  }

  section:nth-child(1) article h2 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: 400;
    padding: 140px 10px 10px 25px;
    font-weight: 400;
  }

  section:nth-child(1) article p {
    color: black;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 25px 10px 25px;
    font-weight: normal;
  }

  section:nth-child(2) {
    width: 70.8%;
    margin-left: 26.2%;
    background-color: #FAF7F3;
    height: 100px;
    text-align: center;
  }

  section:nth-child(2) a h2 {
    color: black;
    font-weight: 400;
    padding-top: 35px;
  }
  
  section:nth-child(3) {
    display: flex;
    width: 100%;
    margin-top: 2%;
    font-size: 1.7rem;
    background-color: transparent;
    height: 600px;
    /* padding-top: 100px; */
  }
  
  section:nth-child(3) article h2 {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: 400;
    /* left: 5%; */
    width: 270px;
    line-height: 50px;
    margin-top: 40%;
  }
  
  section:nth-child(3) article a {
    font-size: 12px;
    color: black;
    left: 5%;
    margin-top: 13%;
    font-weight: bold;
  }
  
  section:nth-child(3) article {
    margin-left: 70px;
    display: inline-block;
    margin-top: 70px;
  }
  
  section:nth-child(3) div {
    display: inline-block;
    width: 250px;
    margin-top: 6%;
    margin-left: 50px;
  }
  
  section:nth-child(3) div p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: -15px;
  }
  
  section:nth-child(3) div b {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    width: 200px;
  }
  
  section:nth-child(3) div p:nth-child(3) {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    /* margin-bottom: -8px; */
    width: 250px;
    margin-top: 15px;
  }
  
  section:nth-child(4) {
    display: flex;
    width: 100%;
    font-size: 1.7rem;
  }
  
  section:nth-child(4) article h2 {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: 400;
    left: 5%;
    width: 500px;
    line-height: 50px;
    padding-top: 10%;
  }

  div:nth-child(5) {
    text-align: center;
  }
  
  div:nth-child(5) a {
    text-decoration: none;
  }
  
  div:nth-child(5) a img {
    width: 300px;
    border-radius: 50%;
    padding: 10px;
  }

  section:nth-child(4) article {
    margin-left: 70px;
    display: inline-block;
    margin-top: 0px;
  }

  section:nth-child(6) {
    display: flex;
    width: 100%;
    margin-top: 10%;
    font-size: 1.7rem;
    background-color: #FAF7F3;
    height: 550px;
  }
  
  section:nth-child(6) article h2 {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: 400;
    /* left: 5%; */
    width: 270px;
    line-height: 50px;
    margin-top: 40%;
  }
  
  section:nth-child(6) article p {
    font-size: 12px;
    color: black;
    /* left: 5%; */
    margin-top: 5%;
  }
  
  section:nth-child(6) div {
    display: inline-block;
    width: 250px;
    margin-top: 6%;
    margin-left: 50px;
  }
  
  section:nth-child(6) div p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: -15px;
  }
  
  section:nth-child(6) div b {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    width: 200px;
  }
  
  section:nth-child(6) div p:nth-child(3) {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    /* margin-bottom: -8px; */
    width: 250px;
    margin-top: 15px;
  }

  section:nth-child(6) article {
    margin-left: 70px;
    display: inline-block;
    margin-top: 70px;
  }

  section:nth-child(7) {
    margin-top: 5%;
  }
  
  section:nth-child(7) h4 {
    font-size: 24px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
  }

  section:nth-child(7) button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin-top: 1.5%;
    width: 15%;
    margin-left: 50%;
    transform: translate(-50%);
    font-weight: bold;
  }

  section:nth-child(8) {
    width: 80%;
    border-top: 0.2px solid black;
    transform: translate(10%, -50%);
    display: flex;
    justify-content: space-evenly;
    margin-top: 105px;
  }
  
  section:nth-child(8) li {
    display: block;
    text-align: center;
  }
  
  section:nth-child(8) li a {
    text-decoration: none;
    background-color: transparent;
    font-size: .75rem!important;
    color: black;
  }
  
  section:nth-child(8) li:hover {
    text-decoration: underline;
  }
  
  section:nth-child(8) ul{
    margin-top: 20px;
  }